<div class="login-content">
    <div class="col-lg-4 col-md-6 col-sm-10 mx-auto bg-white my-5 rounded-5 login-wrapper">
        <div class=" p-5 py-10">
            <div class="mb-10"> 
                <div class="nav-item brand-logo">
                    <a class="nav-link text-uppercase rounded-pill " href="javascript:;">
                      ample<span>logic</span>
                    </a>
                  </div>

                <h1 class="text-center signInText">Sign in</h1> 
            </div>
            <form class="signIn-form">
                <div class="my-3"> 
                    <input type="email" placeholder="Enter email / User" class="form-control signIn-control" id="email">
                </div>
                <div class="my-3">
                    <input type="password" class="form-control signIn-control" id="password" placeholder="Enter password" autocomplete="current-password">
                </div>
                <div class="mb-3">
                    <div class="d-flex justify-content-between">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="check_example" id="check_example">
                            <label class="form-check-label" for="check_example">Remember me?</label>
                        </div>
                        <a href="javascript:;" class="text-sm forgotpassword">
                            Forgot password?
                        </a>
                    </div>
                </div>
                <div>
                    <a href="javascript:;" class="btn btn-dark w-100 sign-btn" [routerLink]="['/dashboard/info']" routerLinkActive="router-link-active" >Sign in</a>
                </div>
            </form> 
        </div>
        <div class="login-bottom text-center small p-5">
            <p>
                Don't have an account? 
                <a href="javascript:;" class="forgotpassword">Click here to sign up</a>
            </p>
            <p>
                ©2024 Webestica. All rights reserved
            </p>
            <strong>
                Terms  Privacy  Cookies
            </strong>
        </div>
    </div>
</div>