.navigation{
    .nav {
        .nav-item{
            
            .nav-link{
                color: #FFF;
                &.active{
                    background: rgba(0,0,0,0.3);
                    border-radius: 20px;
                }
            }
        }
    }
}
