<div class="offcanvas-body d-md-flex flex-column p-0 pt-lg-3 overflow-y-auto navigation">
    <ul class="nav flex-column">
      <li class="nav-item brand-logo">
        <a class="nav-link text-uppercase my-4 rounded-pill " href="javascript:;">
          ample<span>logic</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link d-flex align-items-center gap-2 bi bi-house-door-fill" href="javascript:;" [routerLink]="['/dashboard/info']" routerLinkActive="active" >
          Dashboard
          <i class="bi bi-chevron-right ms-auto"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link d-flex align-items-center gap-2 bi bi-ui-checks-grid" href="javascript:;" [routerLink]="['/dashboard/projects']" routerLinkActive="active" >
            Projects
            <i class="bi bi-chevron-right ms-auto"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link d-flex align-items-center gap-2 bi bi-layout-text-sidebar" href="javascript:;">
            Tasks
            <i class="bi bi-chevron-right ms-auto"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link d-flex align-items-center gap-2 bi bi-person" href="javascript:;">
          Account
          <i class="bi bi-chevron-right ms-auto"></i>
        </a>
      </li> 
    </ul>

    <hr class="my-3">

    <ul class="nav flex-column mb-auto">
      <li class="nav-item">
        <a class="nav-link d-flex align-items-center gap-2 bi bi-gear" href="javascript:;">
          Settings
          <i class="bi bi-chevron-right ms-auto"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link d-flex align-items-center gap-2 bi bi-box-arrow-right" href="javascript:;" [routerLink]="['/login']" routerLinkActive="router-link-active" >
          Sign out
        </a>
      </li>
    </ul>

    <hr class="my-3">

    <ul class="nav flex-column mb-auto">
      <li class="nav-item">
        <a class="nav-link d-flex align-items-center gap-2 small" href="javascript:;">
          Terms of Service 
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link d-flex align-items-center gap-2 small" href="javascript:;">
          Privacy Policy
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link d-flex align-items-center gap-2 small" href="javascript:;">
          Help
        </a>
      </li>
    </ul>
  </div>